AUTH_DB_HOST=db
AUTH_DB_PORT=5432
AUTH_DB_USER=postgres
AUTH_DB_PASS=postgres
AUTH_DB_NAME=auth_service
AUTH_DATABASE_DSN=postgresql+asyncpg://${AUTH_DB_USER}:${AUTH_DB_PASS}@${AUTH_DB_HOST}:${AUTH_DB_PORT}/${AUTH_DB_NAME}

AUTH_JWT_PRIVATE_KEY=
AUTH_JWT_PUBLIC_KEY=
AUTH_JWT_ALGORITHM=RS256