DB_HOST=call-qa-db
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=auth_service
DATABASE_DSN=postgresql+asyncpg://${DB_USER}:${DB_PASS}@${DB_HOST}:${DB_PORT}/${DB_NAME}

JWT_PRIVATE_KEY=
JWT_PUBLIC_KEY=
JWT_ALGORITHM=RS256